@use '../abstracts/variables' as *;

.bigButton {
  width: 100%;
  height: 50px;
  background-color: $submitButtonBackground;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  font-family: 'Outfit', sans-serif;

  &:hover {
    background-color: $labelColor;
  }

  &:active {
    background-color: $titleColor;
  }
}

#submitButton {
  margin-top: 20px;
}

#socialsRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.socialButton {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: $socialButtonBackground;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $labelColor;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $placeholderColor;
    color: $white;
  }

  &:active {
    background-color: $checkboxBorderColor;
  }

  img {
    height: 20px;
    width: auto;
  }
}

.showPassword {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 2;
  background-color: transparent;
  border: none;
  color: $textColor;

  .eyeIcon {
    width: 20px;
    height: 20px;
  }
}