$registerBorderColor: rgb(227, 231, 235);
$registerLogoBackgroundColor: rgb(23, 25, 80);
$white: rgb(255, 255, 255);
$inputBackgroundColor: rgb(243, 243, 244);

$titleColor: rgb(28, 41, 57);
$textColor: rgb(102, 112, 133);
$labelColor: rgb(51, 64, 84);
$asteriskColor: rgb(241, 68, 55);
$placeholderColor: rgb(152, 162, 179);

$checkboxBorderColor: rgb(208, 213, 221);

$submitButtonBackground: rgb(70, 95, 255);
$socialButtonBackground: rgb(242, 244, 247);